.starfish-editor,
.starfish-form,
.starfish-dynamicform {
  .el-form-item__content {
    margin-left: 0 !important;
    margin-bottom: 12px;
    display: block;
    .el-input.el-input--default.el-input--suffix,
    .el-select.el-select--default,
    .el-input-number.el-input-number--default,
    .el-input.el-input--default.el-date-editor.el-date-editor--date,
    .el-textarea.el-input--default {
      width: 320px;
    }
    .el-input__wrapper {
      width: 298px;
    }
  }
  .el-form-item {
    margin-bottom: 0 !important;
  }
  .el-form-item__error {
    top: 100%;
    left: 120px !important;
  }
  .el-form {
    padding-bottom: 64px;
  }
  .jsoneditor-poweredBy {
    display: none;
  }
  .starfish-formitem {
    display: flex;
    text-align: left;
    position: relative;
    margin: 0 12px;
    &.starfish-vertical {
      display: flex;
      align-items: center;
      .control {
        width: 100%;
        .vertical-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        .input-left {
          .el-input__inner {
            text-align: left;
          }
        }
        .input-right {
          .el-input__inner {
            text-align: right;
          }
        }
        .input-center {
          .el-input__inner {
            text-align: center;
          }
        }
        .el-input.el-input--default.el-input--suffix,
        .el-select.el-select--default,
        .el-input-number.el-input-number--default,
        .el-input.el-input--default.el-date-editor.el-date-editor--date {
          width: 320px;
        }
        .el-input__wrapper {
          width: 300px;
        }
      }
    }
    &.formCover {
      padding-bottom: 12px;
      .el-input__wrapper {
        width: 298px;
      }
      .el-textarea.el-input--default {
        width: 320px;
      }
    }
    .label {
      font-size: 14px;
      height: 25px;
      line-height: 25px;
      padding-right: 12px;
      box-sizing: border-box;
      white-space: nowrap;
      &.label_right {
        float: left;
        text-align: right;
        position: absolute;
      }
      &.label_left {
        float: left;
        text-align: left;
        position: absolute;
      }
    }
    .item_require {
      color: red;
    }
  }
}

// #app .fullscreen {
//   position: fixed;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   z-index: 1810;
//   transform: translate(0, 0);
//   -webkit-transform: translate(0, 0);
// }
